<a href="https://colab.research.google.com/github/ML-Bioinfo-CEITEC/cDNA-pretraining/blob/main/data/UCSC_TFBS_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For TFBS prediction, we retrieved the ENCODE 690 ChIP-seq
# profiles from UCSC genome browser that covers 161 TFs in 91 human cell lines (37,38)
# (http://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeAwgTfbsUniform/) and
# extracted the center 101 bp as TFBS-containing sequences following other benchmarking studies.

In [ ]:
!pip install wget --quiet
!mkdir dataset

In [ ]:
import wget
base_url = 'http://hgdownload.cse.ucsc.edu/goldenPath/hg19/encodeDCC/wgEncodeAwgTfbsUniform'
filename = wget.download(f'{base_url}/files.txt', out='dataset')

In [ ]:
with open('dataset/files.txt') as txt:
  lines = txt.readlines()
  for line in lines:
    filename = line.split()[0]
    wget.download(f'{base_url}/{filename}', out='dataset')

In [ ]:
from pathlib import Path
assert len(list(Path('./dataset').glob('*'))) == 691
#690 files + metadata txt

In [ ]:
import pandas as pd

cols = ['chromosome', 'from', 'to','name', 'score','strand', 'signalvalue', 'strand/pvalue', 'Z score?']
#example file
df = pd.read_csv('dataset/wgEncodeAwgTfbsBroadDnd41CtcfUniPk.narrowPeak.gz', sep='\t', names=cols, header=None, index_col=False)
df

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  return func(*args, **kwargs)

,chromosome,from,to,name,score,strand,signalvalue,strand/pvalue,Z score?
0,chr16,57682950,57683343,.,1000,.,547.081245,-1,5.087693
1,chr1,114889111,114889509,.,1000,.,497.508292,-1,5.087693
2,chr14,50328778,50329160,.,1000,.,479.700058,-1,5.087693
3,chr20,32900439,32900865,.,1000,.,477.207117,-1,5.087693
4,chr20,56784853,56785301,.,1000,.,476.368190,-1,5.087693
...,...,...,...,...,...,...,...,...,...
50065,chr8,98657181,98657491,.,111,.,17.525785,-1,5.087693
50066,chr14,41750007,41750317,.,111,.,17.523990,-1,5.087693
50067,chr3,119814111,119814421,.,111,.,17.523800,-1,5.087693
50068,chr15,45746993,45747303,.,111,.,17.521432,-1,5.087693
50069,chr4,128918674,128918984,.,111,.,17.520886,-1,5.087693